<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Rec</title>
</head>
<body>
    <div align=center class="topnav">
        <a class="active" href="/">Home</a>
        <a href="movies">Movies</a>
        <a href="mystuff">My Stuff</a>
        <a href="search">Search</a>
    </div>
   <h1>Welcome to Movie Rec</h1>
   <h2>Popular Movies</h2> 
    {% for m in chart %}
        <p>{{m}}</p>
    {% endfor %}    
   <h2>Recommendations based on your list...</h2> 
</body>
</html>