<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for</title>
</head>
<body>
    <div align=center class="topnav">
        <a class="active" href="/">Home</a>
        <a href="actors">Actors</a>
        <a href="movies">Movies</a>
        <a href="search">Search</a>
    </div>
   <form align=center class="form-inline my-2 my-lg-0" method="'GET">
        Search By: <select name="types" method="GET" action="/">
            {% for choice in types %}
                <option value="{{choice}}" SELECTED>{{choice}}</option>
            {% endfor %}
        </select>
       <input class="'form-control" name="search" placeholder="Search" autocomplete="'off" type="text">
       <button class="'btn btn-primary" type="submit">Search</button>
   </form>
</body>
</html>