<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <div align=center class="topnav">
        <a class="active" href="/">Home</a>
        <a href="movies">Movies</a>
        <a href="mystuff">My Stuff</a>
        <a href="search">Search</a>
    </div>
    <h1 align>Search by:</h1>
    <form align=center action="/results" method="POST">
        <select name="choice" method="GET" action="/">
            <option value="actor">Actor</option>
            <option value="movie">Movie</option>
            <option value="director">Director</option>
            <option value="company">Production Company</option>
        </select>
       <input class="'form-control" name="search" placeholder="Search" autocomplete="'off" type="text">
       <input type="submit" value="Search"/>
    </form>
</body>
</html>