{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ name }}
</h1>
<div align="right">
    <button onclick="addList()">Add to my list</button>
    <h2 class="subtitle">
        Biography
    </h2>
    <p>{{ bio }}</p>
</div>
<div>
    <h2 class="subtitle">
        Other Works
    </h2>
    <p>{{ other }}</p>
</div>


{% endblock %}
<!-- https://stackoverflow.com/questions/23949395/how-to-pass-a-javascript-array-to-a-python-script-using-flask-using-flask-examp -->
<script>
    function addList(){
        
    }
</script>
